{{template "base" .}}

  <section>
    <h2>Your Conversations</h2>
    <div class="conversation-list">
      <table>
        <thead>
          <tr>
            <th>User 1</th>
            <th>User 2</th>
            <th>Started At</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{range .Conversations}}
          <!-- NEED LINK WITH EVERY CHAT -->
          <tr>
            <td>{{.UserID1}}</td>
            <td>{{.UserID2}}</td>
            <td>{{.CreatedAt}}</td>
            <td><a href="/conversation/{{.ID}}" class="button">Go to Chat</a></td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </section>

{{template "footer" .}}
