{{template "base" .}}
<section>
    {{if .Form}}
    <form action="/auth/signup" method="POST" novalidate>
        <div class="login">
            <label>Name:</label>
            <input type="text" name="name" value="{{.Form.DataForErr.Name}}" />
            {{with .Form.Errors.name}}
                {{range .}}
                <label class="error">{{.}}</label>
                {{end}}
            {{end}}
        </div>
        <div class="login">
            <label>Email:</label>
            <input type="email" name="email"
            value="{{.Form.DataForErr.Email}}" />
            {{with .Form.Errors.email}}
                {{range .}}
                <label class="error">{{.}}</label>
                {{end}}
            {{end}}
        </div>
        <div class="login">
            <label>Password:</label>
            <input type="password" name="password"
            value="{{.Form.DataForErr.Password}}" />
            {{with .Form.Errors.password}}
                {{range .}}
                <label class="error">{{.}}</label>
                {{end}}
            {{end}}
        </div>
    {{else}}
    <form action="/auth/signup" method="POST" novalidate>
            <div class="login">
                <label>Name:</label>
                <input type="text" name="name" />
            </div>
            <div class="login">
                <label>Email:</label>
                <input type="email" name="email" />
            </div>
            <div class="login">
                <label>Password:</label>
                <input type="password" name="password" />
            </div>
    {{end}}
            <div>
                <input type="submit" value="Signup" />
            </div>
        </form>
</section>
{{template "footer" .}}